.videohero {
  height:800px;
  overflow: hidden;
  position: relative;
  &__image {
    min-width:100%;
    min-height:100%;
    background-position: center;
    background-size: cover;
    margin-top:-250px;
  }
  &__btn {
    position: absolute;
    height:120px;
    width:120px;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
  }
  &__arrow {
    position: relative;
    top: 27px;
    left: 40px;
    width: 46px;
    height: 56px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 32px 0px 32px 48px;
    border-color: transparent transparent transparent #FFFFFF;
  }
}
